@model AcercampoVI.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Este sitio es exclusivo solo para personal registrado.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                Estamos encantados de que estés interesado(a) en registrarte en nuestra plataforma. 
                Aquí encontrarás un mundo de oportunidades y recursos para satisfacer tus necesidades.
            </p>
            <p>
                Nuestra plataforma web ha sido cuidadosamente diseñada para brindarte una experiencia excepcional.
                Ya sea que estés buscando o vender productos de primera necesidad, conectarte con otros usuarios o acceder a herramientas exclusivas,
                estamos seguros de que encontrarás todo lo que necesitas para tus necesidades.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Inicie sesión con su cuenta @p.Caption">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
